@charset "UTF-8";

/*
1 - logo facebook é uma imagem
2 - <h1> Helvetica Regular #1C1E21
3 - "Log In button" and "Create New Account" System-ui Bold #FFFFFF
4 - Forgot Password? System-ui Medium #1877F2
5 - <a> Create a page Helvetica Semi-bold #1C1E21
6 - footer <p> Helvetica regular #1C1E21
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #F0F2F6;
}

.clear {
    clear: both;
}

.center {
    background-color: #F0F2F6;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.left-aside {
    width: 450px;    
    float: left;
    /*position: relative;
    top: 210px;
    left: 230px;*/
    margin-top: 210px;
    margin-left: 60px;
}

.left-aside img {
    width: 230px;
    margin-bottom: 20px;
}

.left-aside h1 {
    font-family: Helvetica, Arial,  sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.right-form {
    float: right;
    /*position: relative;
    top: 130px;
    left: -240px;*/
    margin-top: 150px;
    margin-right: 60px;
}

form {
    background-color: white;
    width: 396px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.212);   
    padding: 5px;
}

input::placeholder {
    color: #888888;
}

form input {
    display: block;
    border-radius: 6px;
    margin: 10px auto;
}

form input[type="text"] , form input[type="password"], form input[value="Log In"]{
    width: 370px;
    height: 50px;
}

form input[type="text"] , form input[type="password"] {
    font-size: 17px;
    border: 1px solid #dddfe3;
    padding: 10px;
}

form input[type="text"]:focus , form input[type="password"]:focus {
    border: 1px solid #166EE5;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(22, 112, 229, 0.685) 0px 0px 4px 0px;
}

form input[type="submit"] {
    border: none;
    cursor: pointer;
}

form input[value="Log In"] {
    color: white;
    background-color: #166EE5;
    font-size: 20px;
    font-weight: bold;
}

form input[value="Log In"]:hover {
    background-color: rgb(20, 101, 207);
}

form input[value="Log In"]:focus {
    outline: none;
}

form input[value="Log In"]:active {
    width: 361px;
}

form p {
    text-align: center;
}

form > p > a {
    color: #1877F2;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

form p a:hover {
    text-decoration: underline;
}

.line {
    border: 1px solid #dddfe3;
    margin: 20px auto;
}

form input[value="Create New Account"] {
    height: 50px;
    width: 200px;
    background-color: #42B82A;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

form input[value="Create New Account"]:hover {
    background-color: #3fad29;
}

form input[value="Create New Account"]:active {
    background-color: #3c9e28;
    width: 195px;
    font-size: 16.5px;
}

form input[value="Create New Account"]:focus {
    outline: none;
}

.right-form .bottom {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.right-form p.bottom a.bottom {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.right-form p.bottom a.bottom:hover {
    text-decoration: underline;
}



footer {
    background-color: white;
    margin: 20px auto;
    width: 950px;
    color: #888888;
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 13px;
    line-height: 25px;
    text-align: justify;
}

footer a {
    text-decoration: none;
    padding-right: 10px;
    color: #888888;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: #888888;
}

input[value="+"] {
    box-sizing: content-box;
    vertical-align: middle;
    cursor: pointer;
    color: #545a5f;
    font-size: 15px;
    font-weight: bold;
    width: 30px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid #c9cbce;
    border-radius: 2px;
}
#endtext {
    font-size: 11px;
    padding: 15px 0;
    color:#545a5f;
}

@media screen and (max-width: 1064px) {
    .center {
        height: 100%;
        max-width: 80vw;
        margin: 0 auto;
        padding: 0 4%;
    }

    .left-aside {
        width: 450px;    
        float: none;
        /*position: relative;
        top: 210px;
        left: 230px;*/
        margin: 0px auto 30px auto;
        padding-top: 30px;
    }

    .right-form {
        float: none;
        margin: 30px auto 20px auto;
        /*position: relative;
        top: 130px;
        left: -240px;*/
        padding-bottom: 20px;
    }

    .right-form form {
        margin: 0px auto;
    }

    footer {
        max-width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    .center {
        height: 100%;
        max-width: 80vw;
        margin: 0 auto;
        padding: 0 4%;
    }
    
    .left-aside {
        width: 80vw;    
        float: none;
        /*position: relative;
        top: 210px;
        left: 230px;*/
        margin: 0px auto 30px auto;
        padding-top: 30px;
    }

    .left-aside img {
        display: block;
        margin: 0px auto 20px auto;
    }

    .left-aside h1 {
        max-width: 80vw;
        text-align: center;
    }

    .right-form {
        float: none;
        margin: 30px auto 20px auto;
        /*position: relative;
        top: 130px;
        left: -240px;*/
        padding-bottom: 20px;
    }
    
    .right-form form {
        margin: 0px auto;
    }

    footer {
        max-width: 80vw;
    }
}